data_env/
venv/
letter.txt
coursea_dls_1
coursea_dls_2
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.json
*.png
data_preprocessing_1.ipynb
data_preprocessing_2.ipynb
data_preprocessing_3.ipynb
data_preprocessing_4.ipynb
letter.txt
make_features.ipynb
d_train_fast_ai_model_1.ipynb
temp_table.csv
fros_response.txt
get_temp.ipynb



.gitignore